#SetEnv KOHANA_ENV development
SetEnv KOHANA_ENV production

SetEnv BASE_URL_PRODUCTION  http://amrita.ks.ua
SetEnv BASE_URL_DEVELOPMENT http://amrita.dev

<IfModule mod_rewrite.c>

    #Options +FollowSymlinks
    #Options +SymLinksIfOwnerMatch

    # Turn on URL rewriting
    RewriteEngine On

    # Installation directory
    RewriteBase /

    # Rewrite "www.example.com -> example.com".
    RewriteCond %{HTTPS} !=on

    #RewriteCond %{HTTP_HOST} ^www\.(.+)$ [NC]

    # For ukraine.com.ua hosting
    RewriteCond %{HTTP_HOST} ^www\.(.+)?$ [NC]

    RewriteRule ^ http://%1%{REQUEST_URI} [R=301,L]

</IfModule>

# Protect hidden files from being viewed
<Files .*>
    Order Deny,Allow
    Deny From All
</Files>

# Protect application and system files from being viewed
#RewriteRule ^(?:application|modules|system)\b.* index.php/$0 [L]

# For ukraine.com.ua hosting
RewriteRule ^(?:application|modules|system)\b.* index.php?$0 [L]


# Allow any files or directories that exist to be displayed directly
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d


# Rewrite all other URLs to index.php/URL
#RewriteRule .* index.php/$0 [PT]

# For ukraine.com.ua hosting
RewriteRule .* index.php?kohana_uri=$0 [PT,L,QSA]